force-app/main/default/flows/RC_Privacy_Center_Compliance_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Compliance_Fields</name>
        <label>Check Compliance Fields</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <actionName>RC_PCComplianceInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Initiated</targetReference>
        </connector>
    </actionCalls>
    <actionCalls>
        <name>Clear_Compliance_Reports</name>
        <label>Clear Compliance Reports</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>RC_PCDeleteComplianceInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Cleared</targetReference>
        </connector>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>ClearComplianceReports</name>
        <choiceText>Clear Compliance Reports</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ClearComplianceReports</stringValue>
        </value>
    </choices>
    <choices>
        <name>RunComplianceCheck</name>
        <choiceText>Run Compliance Check</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RunComplianceCheck</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action</name>
        <label>Action?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Check_Compliance_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Run Compliance Check</defaultConnectorLabel>
        <rules>
            <name>outcome_Clear_Compliance_Reports</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkboxGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClearComplianceReports</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Compliance_Reports</targetReference>
            </connector>
            <label>Clear Compliance Reports</label>
        </rules>
    </decisions>
    <interviewLabel>Privacy Center Compliance Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Privacy Center Compliance Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Cleared</name>
        <label>Cleared</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>complianceImage1_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>rc_pc_compliance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>250px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayText1_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Privacy Center compliance reports cleared.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initiated</name>
        <label>Initiated</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>complianceImage1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>rc_pc_compliance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>250px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayText1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Privacy Center compliance job initiated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Privacy_Center_Compliance_Check</name>
        <label>Privacy Center Compliance Check</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <fields>
            <name>complianceImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>rc_pc_compliance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>250px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>checkboxGroup</name>
            <choiceReferences>RunComplianceCheck</choiceReferences>
            <choiceReferences>ClearComplianceReports</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose an action</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Privacy_Center_Compliance_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
